# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg

# Executables
*.exe
*.winmd
*.app
*.whl

# Source control Bckend
.hg/
.mypy_cache/
.tox/
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
.env
backend/venv

backend/.python-version
backend/dataset
backend/runs
backend/trained_models
backend/uploads
backend/inference_results
backend/__pycache__
backend/logs


# Source control Frontend
frontend/node_modules/
frontend/build/
frontend/dist/



# Testing
.coverage
.coverage.*
.pytest_cache/
nosetests.xml
coverage.xml
*.cover

# Editors
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
